@page
@using QuizModels
@model QuizApplication.Pages.QuizModel
@{
}

<section class="quiz-wrap">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="quiz-form__wrap">
                    <form method="post">
                        @{
                            if (Model.Quizes != null)
                            {
                                int i = 1;
                                @foreach (Quiz item in Model.Quizes)
                                {
                                    <div class="form-group">
                                        @{
                                            if (item.QuestionType == "single-option")
                                            {
                                                <label>@i. @item.Question</label>
                                                <div class="options">
                                                    @if (@item.Option1 != null)
                                                    {
                                                        <div class="options-item">
                                                            <input type="radio" name="question-@item.Id" value="@item.Option1">
                                                            <label for="html">@item.Option1</label>
                                                        </div>
                                                    }
                                                    @if (@item.Option2 != null)
                                                    {
                                                        <div class="options-item">
                                                            <input type="radio" name="question-@item.Id" value="@item.Option2">
                                                            <label for="html">@item.Option2</label>
                                                        </div>
                                                    }
                                                    @if (@item.Option3 != null)
                                                    {
                                                        <div class="options-item">
                                                            <input type="radio" name="question-@item.Id" value="@item.Option3">
                                                            <label for="html">@item.Option3</label>
                                                        </div>
                                                    }
                                                    @if (@item.Option4 != null)
                                                    {
                                                        <div class="options-item">
                                                            <input type="radio" name="question-@item.Id" value="@item.Option4">
                                                            <label for="html">@item.Option4</label>
                                                        </div>
                                                    }
                                                </div>
                                            }
                                            else if (item.QuestionType == "blanks")
                                            {
                                                <label>@i. @item.Question</label>
                                                <input name="question-@item.Id" />
                                            }
                                        }
                                    </div>
                                    i++;
                                }
                            }
                        }
                        <div class="form-group">
                            <input type="submit" value="Finish Quiz" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-4">
                <div class="quiz-stats">
                    <div class="quiz-item">
                        @*<span>Total Questions: @Model.Quizes.Count</span>*@
                    </div>
                    <div class="quiz-item">
                        <span>Marks: @Model.marks</span>
                    </div>
                    <div class="quiz-item">
                        <span>State: Attempting</span>
                    </div>
                    <div class="quiz-item">
                        <span>Module: Module 1</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>